div.project-container {
    background: black !important;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white ;  
    font-weight: 100 ;     
}
img.project-img{
    width: 500px;
    height: 350px;
}
.project-title {
    text-align: left;    
    font-size: 2em;
    margin-top: 60px;
    font-weight: 400 ;     
}
.project-desc {
    text-align: left;        
    font-size: 1.1em;
    font-weight: 100;     
    margin-top: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.project-stack {
    text-align: left !important;        
    font-size: 0.8em;
    margin-right: 20px;
    padding: 6px;
    border: 1px solid grey;
}
.project-link {
    margin-right: 20px;
}
@media only screen and (max-width: 956px) {
    img.project-img{
        width: 100vw;
        height: 200px;
    }  
    .project-title{
        padding-left: 10px;   
    }  
    .project-desc {
        padding-left: 10px; 
    }
    .project-stack {
        margin-left: 10px !important; 
    }     
    .project-link {
        margin-left: 10px;
    }     
}