@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&family=Playfair+Display+SC:wght@700&family=Roboto:wght@100;300;400&display=swap');
 #projects {
    /* background-image: url(https://wallpapercave.com/uwp/uwp2081246.jpeg); */
    background-color: black;
    /* background-position: center; */
    /* background-repeat: no-repeat;     */
    padding-top: 80px !important;
    /* width: 100%; */
    padding: 20px;
    text-align: left;
    color: white ;  
}
.proj-title {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}
.proj-stack {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.1em;
}
.proj-link{
    margin-left: 5px;
    margin-right: 5px ;
}
.proj-desc {
    margin-bottom: 0px;
    font-size: 1.1em;
    font-weight: 500;
    color: black;
}
