.navbar-span {
    margin-right: 30px !important;
}
.navbar-link {
    text-decoration: none !important;
    color: #9E9E9E;
}
a.navbar-link:hover{
    color: #9E9E9E !important;
    text-decoration: none !important;
    border-bottom: 4px solid #8591c4;
}
@media only screen and (max-width: 980px) {
    .MuiTypography-root {
        font-size: 1em !important;
    }   
}